
#dc
{

    background-color: #66ffff;
    width: 60vw;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

p
{
    padding-top: 5em;
    font-size: 3em;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}

button
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin: 5vw 40vw;
    text-align: center;
}

.dark-mode
{
    background-color: black;
    color: white;
}
