* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% auto;
}

aside {
  /* border-right: 10px solid rgb(205, 205, 205); */
  width: 22vw;
}

.um-logo {
  margin-bottom: 20px;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 100%;
}

.um-user-name {
  padding-left: 5px;
  float: left;
  font-size: small;
  color: rgb(27, 154, 154);
}

.um-user-email {
  padding-left: 5px;
  font-size: x-small;
  color: rgb(103, 103, 103);
}

.um-user img {
  width: 40px;
  float: left;

}

/* .test
{
  display: flex;
} */

.test-data
{
  margin-left: 2.5vw;

  /* display: inline-flex;
  flex-direction: column; */
}

.test-data > div
{
  border-left: 2px solid rgb(4, 236, 248);
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
}

li
{
  padding: 10px 0px;
}

nav
{
  color: rgb(12, 132, 196);
  font-size: large;
}

.um-navitems__main > li:hover, .um-navitems__secondary>li:hover
{
  background-color: rgb(133, 173, 236);
  color: rgb(13, 108, 168);
  opacity: 0.8;
  cursor: pointer;
}

/* li:hover
{
  background-color: rgb(2, 51, 129);
  color: rgb(77, 214, 245);
  opacity: 0.3;

} */

.um-navitems__secondary
{
  border-top: 3px solid rgb(205, 205, 205);
}

div.test-properties > span:first-child
{
  background-color: rgb(33, 166, 193);
  display: block;
}

div.details > label
{
  color: rgb(3, 182, 253);
}

div.details > select
{
  color: gray;
}

/* div.details select:after
{
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f00;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
} */


div.test-data > span:first-child
{
  background-color: black;
  color: white;
  flex-wrap: wrap-reverse;
  width: fit-content;
}

.test-variables > span:first-child
{
  display: block;
  background-color: rgb(18, 118, 149);
  width: 23.5vw;
  color: white;
}

.test-parameters > span:first-child
{
  display: block;
  background-color: rgb(18, 118, 149);
  width: 23.5vw;
  color: white;
}

textarea
{
  border: none;
  background-color: rgba(169, 169, 169, 0.59);
  border-radius: 5px;
  width: 30vw;
  margin-bottom: 2px;
}

.description
{
  display: flex;
  flex-direction: row;
  justify-content: end;

}

.um-test-name
{
  background-color: rgb(19, 106, 176);
  color: white;
  margin-right: 50px;
  padding-right: 25px;
}

.bi-pencil-square
{
  cursor: pointer;
}

.bi-x
{
  margin-left: 78%;
}

.test-main
{
  display: flex;
}

.test-flowchart
{
  width: 50vw;
  height: 61vh;
  border-right: 2px solid rgb(4, 236, 248);
}

div.test-flowchart span
{
  display: block;
  color: white;
  background-color: rgb(107, 205, 218);
}

div.options > i
{
  color: rgb(126, 122, 122);
}

.options:hover
{
  cursor: pointer;
}

.test-designer
{
  background-color: rgba(171, 161, 161, 0.126);
  width: 50vw;
  height: 55vh;
}

.table-header
{
  border-bottom: 2px solid gray;
  height: 5vh;
  margin-bottom: 20vh;
}

.table-header > span
{
  color: rgb(3, 182, 253);
  padding-left: 2px;
  padding-right: 40px;
}
